/*=============================
            GERAL
==============================*/

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(12px + 0.390625vw);
}
a {
    text-decoration: none;
    color: #E5E5E5;
}

/*=============================
            HEADER
==============================*/

header {
    background-color: #3B8686;
    padding: 30px 10vw 30px 10vw;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul {
    display: flex;
}
header nav ul li {
    margin: 0 40px 0 40px;
}
header nav ul li a.atual {
    background: rgba(255, 255, 255, 0.2);
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
}

/*=============================
            BANNER
==============================*/

section.banner {
    padding: 22vw 10vw 12vw 10vw;
    background: linear-gradient(rgba(121, 189, 154, 0.2), rgba(121, 189, 154, 0.2)), url(../images/back-banner.png) no-repeat center center;
    background-size: cover;
}
section.banner h2 {
    font-size: 3rem;
    color: #FFFFFF;
    background-color: rgba(59, 134, 134, 0.5);
    width: 45%;
    padding: 1vw 1vw 1vw 1vw;
}

/*=============================
            SERVICO
==============================*/

section.servico {
    padding: 7vw 10vw 7vw 10vw;
}
section.servico ul {
    display: flex;
    justify-content: space-between;
}
section.servico ul li {
    text-align: center;
    width: 25%;
}
section.servico ul li span {
    color: #3B8686;
    font-size: 3.5rem;
    margin: 0 0 1vw 0;
}
section.servico ul li h3 {
    font-weight: bold;
    font-size: 1.3rem;
    margin: 1vw 0 1vw 0;
}
section.servico ul li p {
    color: #747474;
    line-height: 1.3rem;
}
section.servico ul li p.botao {
    margin: 2.5vw 0 0 0;
}
section.servico ul li p.botao a {
    background-color: #3B8686;
    padding: 15px 25px 15px 25px;
}
/*=============================
     BANNER SECTION.IMAGE
==============================*/
section.image {
    background: linear-gradient(rgba(59, 134, 134, 0.7), rgba(121, 189, 154, 0.2)), url(../images/back-numeros.png) no-repeat center;
    background-size: cover;
}
section.image ul {
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
}
section.image ul li {
    text-align: center;
    margin: 5vw 8vw 5vw 5vw;
    padding: 20px;
    font-size: 1.8rem;
    font-weight: bold;
}
/*=============================
 BANNER SECTION.POSSIBILIDADES
==============================*/
section.possibilidades {
    display: flex;
    margin: 5vw 5vw 5vw 5vw;
    padding: 20px;
}
section.possibilidades div h2 {
    font-size: 1.7rem;
    color: #0B486B;
}
section.possibilidades div button {
    border: none;
    background-color: #0B486B;
    padding: 1vw 2vw 1vw 2vw;
    font-weight: bold;
    font-size: 0.8rem;
}
section.possibilidades div p {
   color: #747474;
   margin: 1.5vw 8vw 0 0;
}
/*=============================
            FOOTER
==============================*/
footer {
    background-color: #3B8686;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    font: 1.2rem;
    padding: 2vw 2vw 2vw 2vw;
    align-items: center;
}
footer div.redes ul {
    display: flex;
}
footer div.redes ul li span {
    font-size: 2.5rem;
    padding: 0 0.5vw 2vw 0;
}
footer div.contato ul li {
    padding: 1vw 0 0 0;
}
footer div.contato h3 {
    font-weight: bold;
}
footer div.contato ul li span {
    padding: 0 0.5vw 0 0;
}
footer div.indice ul li {
    margin: 1vw 0 1.5vw 0;
}
